/* prevent scrolling */
html, body {
  margin: 0;
  overflow: hidden;
}

/* light mode (default) */
body {
  font-family: Arial, sans-serif;
  background-color: white;
  transition: background-color 0.6s ease, color 0.6s ease;
}

h1 {
  color: black;
  font-size: 3em;
  margin: 0;
  margin-bottom: 20px;
}

h2 {
  color: black;
  font-size: 1em;
  margin: 0;
}

p {
  color: black;
}

/* align info center */
.index-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/* dark mode */
body.dark-mode {background-color: black;}
body.dark-mode h1 {color: white;}
body.dark-mode h2 {color: white;}
body.dark-mode p {color: white;}

/* dark mode button */
#theme-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* divide up container for image and about me */
.container {
  display: flex;
  height: 100vh;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* stretch to fit */
.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-section {
  flex: 1;
  padding: 20px;
}